<div class="column gap-1">

  <!--Add product Button-->
  <button
    type="button"
    pButton
    icon="pi pi-plus"
    (click)="toggleAddPopup()"
    label="Add Product"
  ></button>

  <!--Products Section-->
  <div class="row wrap gap-1 space-between">
    <app-product
      *ngFor="let product of products"
      [product]="product"
      (edit)="toggleEditPopup($event)"
      (delete)="toggleDeletePopup($event)"
      ></app-product>
  </div>

  <!--Paginator Section-->
  <p-paginator
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPageChange)="onPageChange($event)"
  ></p-paginator>
</div>

<!--Edit product-->
<app-edit-popup
  [product]="selectedProduct"
  [(display)]="displayEditPopup"
  (confirm)="onConfrimEdit($event)"
  header="Edit Product"
></app-edit-popup>

<!--Add product-->
<app-edit-popup
  [(display)]="displayAddPopup"
  (confirm)="onConfrimAdd($event)"
  header="Add Product"
></app-edit-popup>
